<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        hi
        <br>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file" accept=".pdf">
            <input type="submit" id="submit">
        </form>
        <table id="returned-data"></table>
    </body>
</html>
