<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.10.100/pdf.js"></script>
        <script src="/js/chardinjs.min.js"></script>
        <script src="/js/reader.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/chardinjs.css">
    </head>
    <body>
        <div id="content">
        </div>
    </body>
</html>
